accelerate==1.4.0
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.15+computecanada
aiosignal==1.4.0+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.13.2+computecanada
anyio==4.11.0+computecanada
attrs==25.4.0+computecanada
av==15.1.0+computecanada
bitsandbytes==0.48.2+computecanada
black==25.11.0
certifi==2025.11.12
charset_normalizer==3.4.4+computecanada
click==8.3.1+computecanada
comet_ml==3.54.1
configobj==5.0.9+computecanada
datasets==4.4.1
deepspeed==0.15.4
dill==0.4.0+computecanada
docker-pycreds==0.4.0+computecanada
dotenv==0.9.9
dulwich==0.24.10
einops==0.8.1+computecanada
everett==3.1.0+computecanada
filelock==3.20.0+computecanada
flake8==7.3.0
flash_attn==2.8.3+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.10.0+computecanada
gitdb==4.0.12+computecanada
gitpython==3.1.45+computecanada
h11==0.16.0+computecanada
hf_transfer==0.1.9+computecanada
hf_xet==1.1.10+computecanada
hjson==3.1.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.0+computecanada
idna==3.11+computecanada
iniconfig==2.3.0
inquirerpy==0.3.4+computecanada
isort==7.0.0
jinja2==3.1.6+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
latex2sympy2_extended==1.10.2
liger_kernel==0.5.2
markdown_it_py==4.0.0+computecanada
MarkupSafe==3.0.2+computecanada
math-verify==0.8.0
mccabe==0.7.0+computecanada
mdurl==0.1.2+computecanada
msgpack==1.1.2+computecanada
multidict==6.7.0+computecanada
multiprocess==0.70.18+computecanada
mypy_extensions==1.1.0+computecanada
networkx==3.5+computecanada
ninja==1.11.1+computecanada
-e git+ssh://git@github.com/terrance74liang/UI-R1.git@1cb50effe4a1f839194b7800613dc33ed58a5b61#egg=open_r1&subdirectory=src/ui_r1
parameterized==0.9.0
pathspec==0.12.1+computecanada
pfzy==0.3.4+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
pluggy==1.6.0+computecanada
propcache==0.4.1+computecanada
protobuf==5.29.5+computecanada
py_cpuinfo==9.0.0+computecanada
pycodestyle==2.14.0
pydantic==2.12.4+computecanada
pydantic_core==2.41.5+computecanada
pyflakes==3.4.0
pytest==9.0.1
python_box==6.1.0+computecanada
python_dotenv==1.2.1+computecanada
pytokens==0.3.0
PyYAML==6.0.2+computecanada
qwen-vl-utils==0.0.14
referencing==0.37.0+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
requests_toolbelt==1.0.0+computecanada
rich==14.2.0+computecanada
rpds_py==0.27.0+computecanada
safetensors==0.5.3+computecanada
semantic_version==2.10.0+computecanada
sentencepiece==0.2.0+computecanada
sentry-sdk==2.45.0
setproctitle==1.3.7+computecanada
simplejson==3.20.2+computecanada
smmap==5.0.2+computecanada
sniffio==1.3.1+computecanada
tensorboardx==2.6.4+computecanada
tokenizers==0.21.1+computecanada
torch==2.7.0+computecanada
torchaudio==2.7.0+computecanada
torchtext==0.6.0+computecanada
torchvision==0.22.0+computecanada
tqdm==4.67.1+computecanada
transformers==4.49.0+computecanada
triton==3.5.0+computecanada
trl==0.16.0
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
urllib3==2.5.0+computecanada
wandb==0.18.3
wrapt==2.0.1+computecanada
wurlitzer==3.1.1+computecanada
xxhash==3.5.0+computecanada
yarl==1.22.0+computecanada
